{% extends "layouts/base.html" %}

{% block content %}

<main>
  <h1>TODO list</h1>
<a href="{% url 'manager:task-create' %}">Add a task</a>
  {% if task_list %}
    {% for task in task_list %}
      <p> {{ task.content }}</p>
      <p> {{ task.created_at }}</p>
        {% if task.is_done %}
          <a href="{% url 'manager:toggle-task-complete' pk=task.id act="undo" %}" class="btn btn-danger link-to-page">Undo</a>
          <p style="color: green">Done</p>
        {% else %}
          <a href="{% url 'manager:toggle-task-complete' pk=task.id act="complete" %}" class="btn btn-success link-to-page">
            Complete
          </a>
          <p style="color: red">Not done</p>
        {% endif %}
        <p>
          {% if task.tags %}
            {% for tag in task.tags.all %}
              {{ tag.name }}

            {% endfor %}
          {% endif %}
        </p>
      <a href="{% url 'manager:task-update' task.id %}">Update</a>
      <a href="{% url 'manager:task-delete' task.id %}">Delete</a>
    {% endfor %}
  {% endif %}
</main>

{% endblock content %}
